* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background-color: #222222;
    font-family: sans-serif;
}

.container {
    display: flex;
    align-items: center;
    &__results {
        background-color: #D5D5D5;
        width: 500px;
        height: 450px;
        padding: 20px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        &__header {
            h4 {
                margin-bottom: 20px;
            }
        }
        &__main {
            display: flex;
            justify-content: space-between;
            align-items: flex-start;
        }
        &__result {
            img {
                width: 200px;
                height: 100px;
            }
        }
    }
    &__disk {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        &__buttons {
            background-color: #45383A;
            height: 450px;
            display: grid;
            grid-template-columns: repeat(3, 1fr);
        }
        &__button {
            cursor: pointer;
            padding: 5px;
            width: 100px;
            background-color: #000;
            margin: 15px auto;
            border-top: 2px solid #767676;
            border-left: 2px solid #767676;
            border-bottom: 2px solid #1e1e1e;
            border-right: 2px solid #1e1e1e;
            text-align: center;
            max-height: 50px;
            span {
                color: #fff;
                font-size: 2rem;
            }
        }
    }
}

.operations {
    margin: 0 auto;
    padding: 10px 20px;
    margin-bottom: 10px;
    cursor: pointer;
    border-top: 2px solid #2e2e2e;
    border-left: 2px solid #2e322e;
    border-bottom: 2px solid #000;
    border-right: 2px solid #000;
    font-weight: 600;
}

#white {
    background-color: #fff;
}

#correct {
    background-color: #FF7C3E;
}

#confirm {
    background-color: #00E380;
    margin-right: 20px;
}

.view {
    display: flex;
    &__screen {
        background-color: #c1c1c1;
        border: 1px solid #767676;
        padding: 30px 20px;
        margin: 5px;
        font-size: 1.5rem;
    }
}

@media (max-width:965px) {
    .container {
        flex-direction: column;
        &__results {
            width: 435px;
        }
    }
}

@media (max-width:440px) {
    .container__results {
        width: 100%;
    }
}